USE [master]
GO
/****** Object:  Database [PropertyInsuranceDB2]    Script Date: 04-03-2026 12:05:31 ******/
CREATE DATABASE [PropertyInsuranceDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyInsuranceDB2', FILENAME = N'C:\Users\srini\PropertyInsuranceDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyInsuranceDB2_log', FILENAME = N'C:\Users\srini\PropertyInsuranceDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyInsuranceDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyInsuranceDB2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyRequestId] [int] NOT NULL,
	[PropertyAddress] [nvarchar](max) NOT NULL,
	[PropertyValue] [decimal](18, 2) NOT NULL,
	[PropertyAge] [int] NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyRequestId] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](max) NOT NULL,
	[GeneratedDate] [datetime2](7) NOT NULL,
	[TotalPremium] [decimal](18, 2) NOT NULL,
	[InstallmentAmount] [decimal](18, 2) NOT NULL,
	[InstallmentCount] [int] NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyRequests]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NULL,
	[Status] [int] NOT NULL,
	[PropertyAddress] [nvarchar](max) NULL,
	[PropertyValue] [decimal](18, 2) NULL,
	[PropertyAge] [int] NULL,
	[RiskScore] [decimal](18, 2) NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[AgentCommissionAmount] [decimal](18, 2) NOT NULL,
	[Frequency] [int] NOT NULL,
	[InstallmentAmount] [decimal](18, 2) NOT NULL,
	[InstallmentCount] [int] NOT NULL,
	[TotalPremium] [decimal](18, 2) NOT NULL,
	[AdminNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_PolicyRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyCategories]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PropertyCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyPlans]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyPlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[BaseCoverageAmount] [decimal](18, 2) NOT NULL,
	[CoverageRate] [decimal](18, 2) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[AgentCommission] [decimal](18, 2) NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[Frequency] [int] NOT NULL,
 CONSTRAINT [PK_PropertyPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertySubCategories]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertySubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_PropertySubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04-03-2026 12:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ReferralCode] [nvarchar](max) NOT NULL,
	[ReferralBalance] [decimal](18, 2) NOT NULL,
	[ReferralsCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyRequestId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyRequestId] ON [dbo].[Claims]
(
	[PolicyRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_CustomerId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_CustomerId] ON [dbo].[Invoices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_PolicyRequestId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_PolicyRequestId] ON [dbo].[Invoices]
(
	[PolicyRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyRequests_AgentId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyRequests_AgentId] ON [dbo].[PolicyRequests]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyRequests_CustomerId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyRequests_CustomerId] ON [dbo].[PolicyRequests]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyRequests_PlanId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyRequests_PlanId] ON [dbo].[PolicyRequests]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyPlans_SubCategoryId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_PropertyPlans_SubCategoryId] ON [dbo].[PropertyPlans]
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertySubCategories_CategoryId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_PropertySubCategories_CategoryId] ON [dbo].[PropertySubCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 04-03-2026 12:05:32 ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 04-03-2026 12:05:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PolicyRequests] ADD  DEFAULT ((0)) FOR [Frequency]
GO
ALTER TABLE [dbo].[PolicyRequests] ADD  DEFAULT ((0.0)) FOR [InstallmentAmount]
GO
ALTER TABLE [dbo].[PolicyRequests] ADD  DEFAULT ((0)) FOR [InstallmentCount]
GO
ALTER TABLE [dbo].[PolicyRequests] ADD  DEFAULT ((0.0)) FOR [TotalPremium]
GO
ALTER TABLE [dbo].[PropertyPlans] ADD  DEFAULT ((0)) FOR [Frequency]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [ReferralCode]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0)) FOR [ReferralBalance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [ReferralsCount]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_PolicyRequests_PolicyRequestId] FOREIGN KEY([PolicyRequestId])
REFERENCES [dbo].[PolicyRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_PolicyRequests_PolicyRequestId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_PolicyRequests_PolicyRequestId] FOREIGN KEY([PolicyRequestId])
REFERENCES [dbo].[PolicyRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_PolicyRequests_PolicyRequestId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users_CustomerId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_PropertyPlans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[PropertyPlans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_PropertyPlans_PlanId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_Users_AgentId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_Users_CustomerId]
GO
ALTER TABLE [dbo].[PropertyPlans]  WITH CHECK ADD  CONSTRAINT [FK_PropertyPlans_PropertySubCategories_SubCategoryId] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[PropertySubCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyPlans] CHECK CONSTRAINT [FK_PropertyPlans_PropertySubCategories_SubCategoryId]
GO
ALTER TABLE [dbo].[PropertySubCategories]  WITH CHECK ADD  CONSTRAINT [FK_PropertySubCategories_PropertyCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PropertyCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertySubCategories] CHECK CONSTRAINT [FK_PropertySubCategories_PropertyCategories_CategoryId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
USE [master]
GO
